.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rbuildignore
/vignettes/*.html
/vignettes/*.rds
wc2-5/*
workflow
pruebas.R
README.rmd
README.html

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
