# RStudio files
.Rproj.user/
rspecies.Rproj

# R history and RData
.Rhistory
.RData
.Ruserdata

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.rds

# Other things
wc2-5/*
workflow
pruebas.R
README.rmd
README.html

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# figure directory
figure/
